extends layout

block content
    h2.container
        .row
            .col-lg-8.col-md-8.col-sm-8.col-xs-6(style="vertical-align:top")
                 | #{title}
                
            .col-lg-4.col-md-4.col-sm-4.col-xs-6(style="vertical-align:top;")
                                        
                form.form-inline(name="input" method="get")
                    input.search-bar(type="text" placeholder="Search" name="searchString")

    hr
    .container
        if nonemessage
            h3.text-important #{nonemessage}
        
        else 
            table.table.table-hover.table-bordered.table-striped.bold-table-header.fsindex
                tr 
                    th.col-lg-4.col-md-4.col-sm-5.col-xs-7 Name
                    th.col-lg-1.col-md-1.col-sm-1.col-xs-1.text-center Rating
                    th.col-lg-6.col-md-5.col-sm-4.hidden-xs Tags
                    th.col-lg-1.col-md-1.col-sm-2.col-xs-2.text-center 
                        a(href="/create")
                                span.glyphicon.glyphicon-plus(aria-hidden="true") 
                    
                each recipe in recipes
                    tr
                        td(class=("printClick"+recipe._id) style="vertical-align:middle") #{recipe.Name}
                        td.text-center(class=("printClick"+recipe._id) style="vertical-align:middle") #{recipe.Rating}
                        td.hidden-xs(class=("printClick"+recipe._id) style="vertical-align:middle") #{recipe.Tags}
                        td.text-center(style="vertical-align:middle")
                            .btn-group(role="group")
                            
                                button.btn.btn-success.btn-sm(id="editButton"+recipe._id)
                                    span.glyphicon.glyphicon-edit(aria-hidden="true")
                                
                                button.btn.btn-danger.btn-sm(id="deleteButton"+recipe._id)
                                    span.glyphicon.glyphicon-trash(aria-hidden="true")
                           
                        script.
                        
                            // On tablerow click, show the print friendly details view
                            $('.printClick#{recipe._id}').click(function() {
                                window.location = '/print/#{recipe._id}';
                            });
                            
                            // Send a post method to delete this particular recipe
                            $('#deleteButton#{recipe._id}').click(function() {
                                if(confirm("Are you sure you want to delete this?")) {
                                    var form = $('<form name="delete" method="post" action="/delete/#{recipe._id}">' +
                                    '<input type="submit"/>' +
                                    '</form>');
                                    $('body').append(form);
                                    form.submit();
                                }
                            });
                            
                            // Show the edit form for this recipe
                            $('#editButton#{recipe._id}').click(function() {
                                var form = $('<form name="edit" method="get" action="/edit/#{recipe._id}">' +
                                '<input type="submit"/>' +
                                '</form>');
                                $('body').append(form);
                                form.submit();
                            });